* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: #011f19;
  padding: 0.3rem;
}
.genLayout {
  margin: auto;
  max-width: 900px;
}
nav {
  padding-block: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  background-color: #011f19;
  margin: auto;
  padding-block: 0.8rem;
  max-width: 900px;
  /* color: #fff; */
}

nav > a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

nav > a:first-child {
  font-weight: 500px;
  padding-bottom: 0.5rem;
  color: #106854;
  border-bottom: 2px solid #106854;
  margin-top: 0.5rem;
}

nav > button {
  background-color: #27e1b2;
  color: #fff;
  border: none;
  padding: 0.3rem;
  border-radius: 9px;
  /* font-size: ; */
}

.banner {
  height: 500px;
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: center;
  background-color: #011f19;
}

.bannerContent {
  width: 420px;
  background-color: transparent;
  padding: 1rem;
  margin: auto;
  display: block;
  height: 300px;
  size: 2rem;
  font-size: 19px;
}

.bannerContent > h1 {
  width: 400px;
  color: #dedfdf;
  text-transform: uppercase;
}

.bannerContent > h1 > span {
  color: #29e1b7;
  text-transform: uppercase;
  font-size: 35px;
}
.bannerContent > p {
  margin-block: 1rem;
  font-size: 1rem;
  color: #fff;
  width: 400px;
  /* opacity: 6; */
}
.bannerContent > button {
  color: #fff;
  /* border: 1px solid #fff; */
  text-transform: capitalize;
  border-radius: 9px;
  padding: 0.4rem 1rem;
  font-size: 12px;
  font-weight: 600;
  background-color: #29e1b7;
}

/* form stylling */

form {
  width: 250px;
  padding: 2rem;
  border: 1px solid gray;
  background-color: #ffffff05;
  border-radius: 15px;
}
.btn {
  display: flex;
  gap: 5px;
}

.btn > button {
  border-radius: 2px;
  font-size: 10px;
  font-weight: 600;
  border: none;
  text-transform: capitalize;
  color: #fff;
  padding: 0.3rem 2.6rem;
  background-color: #29e1b7;
}
.inputBox {
  margin-top: 1rem;
}
.inputBox > label {
  margin-bottom: 5px;
  font-size: 10px;
  gap: 3px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  color: #fff;
}
.fa-asterisk {
  font-size: 5px;
  color: #27e1b2;
}
.inputBox > select {
  background-color: transparent;
  width: 100%;
  border-radius: 7px;
  padding: 0.4rem 7px;
  color: white;
  font-size: 8px;
  text-transform: capitalize;
}
.innerInputBox {
  display: flex;
}
.innerInputBox > input {
  border: 1px solid grey;
  width: 100%;
  background-color: transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 0.4rem;
  color: #fff;
  font-size: 10px;
  text-transform: capitalize;
}
.innerInputBox > input::placeholder {
  font-weight: 600;
  padding-left: 7px;
  font-size: 8px;
}
.innerInputBox > select {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.4rem;
  color: #fff;
  font-size: 10px;
  text-transform: capitalize;
  background: #27e1b2;
}
.innerInputBox > select {
  font-size: 7px;
  text-transform: uppercase;
}
form > button {
  background-color: #29e1b7;
  width: 100%;
  margin-block: 1rem;
  padding: 0.4rem;
  border-radius: 7px;
  border: none;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-transform: capitalize;
}

/* section 1 styling */

.secOne {
  background-color: #094b3f;
}

.investLayout {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 30px;
}
.investContent {
  width: 50%;
}
.investContent > h1 {
  font-size: 25px;
  margin-top: 2rem;
}
.investContent > p {
  font-size: 14px;
  margin-block: 1rem;
}

.money {
  display: flex;
  align-items: center;
  gap: 10px;
}

.moneyText {
  margin-block: 0.4rem;
}

.moneyText > span {
  font-size: 12px;
  margin-block: 1rem;
}
.moneyImg {
  width: 30%;
}
.moneyImg > img {
  width: 100%;
  margin-left: 100px;
}

/* section 2 */

.secTwo {
  background-color: #011f19;
  color: #fff;
}
#Service > h1 {
  padding-block: 2rem;
  text-align: center;
  color: #27e1b2;
  font-size: 30px;
}
.serviceOption {
  display: flex;
  justify-content: space-between;
  padding-block: 3rem;
}

.serviceCard > img {
  padding-bottom: 1rem;
  width: 60px;
}
.innerServiceCard {
  padding-left: 0.2rem;
  border-left: 2px solid #29e1b7;
}
.innerServiceCard > h5 {
  padding-block: 1rem;

  text-transform: capitalize;
}
.innerServiceCard > p {
  font-size: 11px;
  line-height: 15px;
}

/* responsive atyling */
@media (min-width: 360px) and (max-width: 460px) {
  nav {
    justify-content: center;
  }
  .banner {
    flex-direction: column;
    height: 100%;
    gap: 0.1rem;
  }
  .bannerContent {
  }
  .bannerContent > h1 {
    width: 70%;
  }
  .bannerContent>p{
    font-size: 100%;
  }
.investLayout{
  flex-direction: column;
}
.investContent{
  width: 100%;
}

.moneyImg{
  width: 70%;
}
.moneyImg>img{
  margin-left: auto;
}
.serviceOption{
  flex-direction: column;
  margin: auto;
}
}
